<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteRule ^\+$ https://plus.google.com/101415443691492553003 [L,R=301]
  RewriteRule ^twitter$ https://twitter.com/pioneerspacesim [L,R=301]
  RewriteRule ^forum$ /forum/ [L,R=301]
  RewriteRule ^issues$ https://github.com/pioneerspacesim/pioneer/issues [L,R=301]
  RewriteRule ^list$ https://corbyn.site5.com/mailman/listinfo/pioneer-dev_pioneerspacesim.net [L,R=301]
  RewriteRule ^wiki$ http://pioneerwiki.com/ [L,R=301]
  RewriteRule ^faq$ http://pioneerwiki.com/wiki/FAQ [L,R=301]
  RewriteRule ^irc$ http://webchat.freenode.net/?channels=pioneer [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ $1.html [L,QSA]
</IfModule>
